body{
    margin:0;
    padding: 0%;
    box-sizing: border-box;
    background-color: lightblue;
}
  
/*
  Box sizing sets the total width and height
  to include any padding 
*/

/* .main{
  font-family: "Heebo", 'Times New Roman';
} */

/*This is where our actual content goes*/
.Landing{
  min-height: 100vh;
  padding: 0rem 5rem;
}

/*vh changes with the size of the window
1vh=1% of the viewport
rem units compare with the root font
*/

nav{
  display: flex; /*Kinda of centers vertically the h1*/
  /*Not sure if whats below is needed*/
  align-content: center;
  justify-content: space-between;
  min-height: 10vh;
}

/*Super Important since things are to the left*/

.nav-links{
  display: flex;
  list-style: none;
}

.nav-links li{
  padding-left: 10rem; 
  /*But you have to be careful with the width*/
  font-size: 1.2rem;
}

#logo{
  font-family: "Lobster", cursive;
  font-weight: lighter;
  font-size:2rem
}



/*I dont think this one is necessary*/
.slider{
  /* background:rgb(97,105,109); */
  background:rgb(31, 80, 186);
  position: fixed;
  top:0%;
  left:0%;
  width: 100%;
  height: 100%; /*Ends up taking the whole page*/
  transform:translateY(100%);
}

.intro-text{
  color:rgb(233, 233, 233);
  font-family: "Heebo", sans-serif;
  font-size:3rem;

}

.hide{
  background: black;
  overflow:hidden
}

.hide span{
  transform:translateY(100%);
  display:inline-block;
}


