body{
    font-family: Times;
    transition: all 0.5s ease-in-out;
}
  
header{
    margin: 0 auto; /* vertical and horizontal values */
    padding: 1em 0 ; /*vertical and horizontal value 16px  */
    position: relative;
    font-family: inherit;
}

header a{
    text-decoration: none;
    color: black;
}

.navbar{
    text-align: center;  
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    transition: all 1s ease-in-out;
    background-color: #ecf0f1;
    box-shadow: 0 2px 1px rgba(0,0,0,.2); /*shadow underneathh */

    /* we need to center the icons with the li here */
}

.navbar li{
    display: inline;
    /* font-size:1.5em; */
        /* background:red; */
        font-size: 24px;
        font-weight: 400; /*thickness of font */
        position: relative;
        text-transform: uppercase;
        padding-right: 5%;
            font-weight: bold;         
}

/* .navnav a{
    color: #2980b9; font color
    background-color: #ecf0f1;
} */

/* .shutter-out-vertical{
    -webkit-transition: color 300ms;
  transition: color 300ms;
} */

/* .navbar:hover{
    width: 500px;
    height: 500px;
} */

.innerNav{
    /* background-color: red; */
}

.end{
    text-align: center;
}

footer{
    text-align: center;
    padding:3px;
}

/* top  right bottom left */


/* another name for img cause thats how their referenced */
.rowImages{
    display: block;
    /* padding: 50px 10px 0px 50px;  */
    width:70%;
    /* max-height: 50%; */
    /* height: 50%; */

    margin:0 auto;
}


.colImages1 img{  

    width: 100%;
    
  
}
.colImages2 img{
    /* display: block; */
    width: 100%;
    /* height: 100%; */


}

.colImages3 img{
    
    width: 100%;
   
}
/* .colImages4 img{
    display: block;
    height: 550px;
    width: 650px;
    margin-left: auto; 
    margin-right: auto; 
} */
.colImages5 img{
    width: 100%;
    /* max-height: 50%; */

    
}

.experience
  {
    text-align: center;
    display: grid;
    justify-content: center;
    /* align-content:center; */
    /* grid-template-columns: 600px 600px; */
    grid-template-columns: 45% 45%;
    padding-top:2% ;
    
  }
  .experience a {
      color: black;
      text-decoration: none;
  }

  /* https://stackoverflow.com/questions/14814745/how-to-center-two-columns-using-css */

  .inventoryOOP
  {
    background-color: #f3f3f3; /*Blue For Senior Design */
    background:#f3f3f3;
    grid-row-start:2 ;
    /* transition: width 2s, height 2s; */
    transition: width 2s, linear;
    /* justify-items: center; */
  }
  /* .inventoryOOP:hover{
    width: 70%;
    overflow-x: auto;
  } */



  .SQLproject
  {
    background-color: #fb8c00; /*Blue For Senior Design */
    grid-row-start:1 ;
    /* justify-items: center; */

  }
  
  .SeniorDesign3
  {
    background-color: #37b0f3; /*Blue For Senior Design */
    grid-row-start:3 ;
    /* justify-items: center; */

  }

.AdvancedMechatronics
{
    background-color: #f2d600; /* Trello yellow for advanced Mechantronics */
    grid-row-start:3 ;
    /* justify-items: center; */

}
.SHPE{
    grid-row-start:2;
    background-color: crimson; /* Black */
    color: black;

}
.wordPress{
    grid-row-start:1 ;
    background-color: #4caf50; /*Green for Android */
}

.leftIcons{
    float: left;
    padding-left: 5%;
    vertical-align: bottom;
    display: inline-block;
}



.rightIcons{
    float:right;
    padding-right: 5%;
    
}

/* about css */
.mainContainer{
    
    /* display: inline; */
    /* display:grid; */
    /* grid-template-columns:  50% 50%; want to have a buffer of 5 % on the sides */
    justify-content: center;    
    /* align-items: top;  */
    padding-left: 5%;
    padding-right: 5%;
}



/* .mainContainer p{
    width: 50%;
    font-size: 1.5em;
    line-height: 1.7em;
} */

.biop
{
    /* padding: 0em 1em 1em 0em; top right bottom left */
    font-family: inherit;
    font-size: 1.5em;
    line-height: 1.7em;
    /* float: left; */
    /* width: 50%; */
}

img.wrap{
    width: 50%;
    float: right;
    margin-left:5%

}


  