body{
    font-family: Times;
    transition: all 0.5s ease-in-out;
    margin: 0%;
    padding:0;
    /* background-color: lightblue; */
    /* justify-content: center; */
}
  
header{
    margin: 0 auto; /* vertical and horizontal values */
    padding: 1em 0 ; /*vertical and horizontal value 16px  */
    position: relative;
    font-family: inherit;
}

header a{
    text-decoration: none;
    color: black;
}

.navbar{
    /* text-align: center;   */
    padding-top: 1%;
    display: inline-block;
    padding-bottom: 1%;
    width: 100%;
    transition: all 1s ease-in-out;
    background-color: #ecf0f1;
    box-shadow: 0 2px 1px rgba(0,0,0,.2); /*shadow underneathh */
    /* float: left; */
    /* we need to center the icons with the li here */
    Border: 1px solid black;
    /* vertical-align: top; */

}

.logo{
    float: left;
    /* width: 10%; */
    /* display: flex; */

    vertical-align: middle;
    /* Border: 1px solid black; */
    position: relative;
    /* top:10px; Goes Down by 10 */
    top:-1px;
    
    font-family: "Lobster", cursive;
    font-weight: lighter;
    font-size:2rem;
    padding-left:5%;
}




.navnav li{
    /* color: #2980b9; font color
    background-color: #ecf0f1; */
    float: right;
    display: inline;
    font-size: 24px;
    font-weight: 400; /*thickness of font */
    position: relative;
    text-transform: uppercase;
    padding-right: 5%;
    font-weight: bold;
    /* Border: 1px solid black; */
    /* vertical-align: top; */
    position: relative;
    top:-10px; 
    /* Goes up by 10 */
}



.end{
    text-align: center;
}

footer{
    text-align: center;
    padding:3px;
}

/* top  right bottom left */


/* another name for img cause thats how their referenced */
.rowImages{
    display: block;
    /* padding: 50px 10px 0px 50px;  */
    width:90%;
    max-width: 1500px;
    /* max-height: 50%; */
    /* height: 50%; */

    margin:0 auto; /*makes sure its in the center*/
}


.colImages1 img{  

    width: 100%;
    /* background-size: cover; */
  
}
.colImages2 img{
    /* display: block; */
    width: 100%;
    /* height: 100%; */
    /* background-size: cover; */

}

.colImages3 img{
    
    width: 100%;
    /* background-size: cover; */
}
/* .colImages4 img{
    display: block;
    height: 550px;
    width: 650px;
    margin-left: auto; 
    margin-right: auto; 
} */
.colImages5 img{
    width: 100%;
    /* max-height: 50%; */
    /* background-size: cover; */
    
}

.experience
  {
    /* text-align: center; */
    display: grid;
    justify-content: center;
    /* align-content:center; */
    /* grid-template-columns: 600px 600px; */
    grid-template-columns: 49% 49%;
    /* max-width: 1500px; */
    font-size: 20px;
    padding-top:1% ;
    
  }
  .experience a {
      color: black;
      text-decoration: none;
      
  }

  .experience h3{
      text-align: center;
  }

  /* https://stackoverflow.com/questions/14814745/how-to-center-two-columns-using-css */

  .inventoryOOP
  {
    background-color: 	#B0B0B0; /*Blue For Senior Design */
    /* background:#f3f3f3; */
    grid-row-start:2 ;
    /* transition: width 2s, height 2s; */
    /* transition: width 2s, linear; */
    /* justify-items: center; */
    padding:2%;
    padding-left: 5%;
    /* font-size: 20px; */
  }
  

  .SQLproject
  {
    background-color: 	#D8D8D8; /*Blue For Senior Design */
    grid-row-start:1 ;
    /* justify-items: center; */
     /* transition: width 2s, height 2s; */
    /* transition: width 2s, linear; */
    padding:2%;
    padding-left: 5%;
  }

  .SQLproject p::after{
    background-color: black;
  }
  
  .SeniorDesign3
  {
    background-color:	#808080; /*Blue For Senior Design */
    /* color:white; */
    grid-row-start:3 ;
    /* justify-items: center; */
    padding:2%;
    padding-left: 5%;


  }

.AdvancedMechatronics
{
    background-color: #888888; /* Trello yellow for advanced Mechantronics */
    grid-row-start:3 ;
    /* justify-items: center; */
    padding:2%;
    padding-left: 5%;
}
.SHPE{
    grid-row-start:1; /*This will go to one */
    background-color: #E0E0E0; /* Black */
    /* color: green; */
    padding:2%;
    padding-left: 5%;

}
.wordPress{
    grid-row-start:2 ; 
    background-color: 	#B8B8B8; /*Green for Android */
    padding:2%;
    padding-left: 5%;
}



.leftIcons{
    float: right;
    /* padding-right: 2%; */
    /* display: inline-block; */
    /* vertical-align: top; */
    /* Border: 1px solid black; */
    position: relative;
    /* top:10px; */

    padding-right: 5%;
    max-width:10% ;

}



/* about css */
.mainContainer{
    justify-content: center;  
    padding-left: 5%;
    padding-right: 5%;
    /* max-width: 80%; */
    /* padding-bottom: 10px; */
    /* min-width: 100%; */
    /* max-width: 1000px; */
    overflow:auto;/* To prevent over flow of picture being picture than bio*/

}


.biop
{
    /* padding: 0em 1em 1em 0em; top right bottom left */
    font-family: inherit;
    font-size: 1.5em;
    line-height: 1.7em;
    /* float: left; */
    /* width: 50%; */
}

img.wrap{
    width: 60%; /*So it readjusts when the screen is smaller */
    /* max-width: 30%; */
    max-width: 600px;
    /* max-height: 50%; */
    float: right;
    margin-left:2%
}

/* Animations for the beginning*/
.intro{
    background:black;
    position:fixed;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .intro-text{
    color:rgb(233, 233, 233);
    font-family: "Heebo", sans-serif;
    font-size:2rem;
  }

  .slider{
    background:rgb(103, 108, 119);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%; 
    transform:translateY(100%);
  }

  