<!DOCTYPE html>
<html lang="en">
    
    <%- include('headers'); -%>
    <title>Jason's Mini Bio</title>

    <body>
        <div class="mainContainer">
            <!-- <div class="Bio"> -->
                <img class="wrap" src="images/SoccerField.jpg"   />
                <!-- <div class="Bio"> -->
                <p class="biop">
                    I'm currently a Senior at the Grove School of Engineering 
                    graduating with a degree in Mechanical Engineering and 
                    Computer Science. During my undergrad experiences
                    I've had the opportunities 
                    to work on projects ranging from mechatronics to pure software
                    projects. Previously I've interned
                    with KINETIC, a data analytic company that uses
                    hardware to help minimize back injury commonly 
                    found in warehouse workers. Here I came to learn more about
                    IoT and gained an interests in backend development.  
                    <br>    
                    <br>
                    <!-- </p> -->
                    <!-- <p> -->
                    In my free time I'm helping LAESA-SHPE build 
                    software to help spread STEM awareness in low income 
                    neighborhoods. Recently I have also picked up 
                    interests in hacking through CodePath! Using my knowledge
                    in Cybersecurity and fundementals in programming
                    I have been able to continue growing my skill set. 
                    <br>
                    <br>
                </p>
        </div>
                
        
        <div class="Skills">
            <div class="webC">
                <h3> Backend stack: </h3>
                <div class="container">
                    <a  class="shutter-out-vertical">MSSQL</a>
                </div>
                <div class="container">
                    <a class="shutter-out-vertical">MongoDB</a>
                </div>
                <div class="container">
                    <a class="shutter-out-vertical">Node.js</a>
                </div>
                <div class="container">
                    <a class="shutter-out-vertical">Express</a>
                </div>
                <!-- <div class="container"></div> -->
                <div class="container">
                    <a class="shutter-out-vertical">GCP</a>
                </div>
                <div class="container">
                    <a class="shutter-out-vertical">Heroku</a>
                </div>
                <h3>Front End Stack: </h3>
                <div class="container">
                    <a class="shutter-out-vertical">HTML</a>
                </div>
                <div class="container">
                    <a class="shutter-out-vertical">CSS</a>
                </div>
                <div class="container">
                    <a class="shutter-out-vertical">EJS</a>
                </div>
            </div>
                            
                    <div class="CyberTools">
                            <h3>Hacking Tool stack: </h3>
                            <div class="container">
                                <a class="shutter-out-vertical">Burp</a>
                            </div>
                            <div class="container">
                                <a class="shutter-out-vertical">SQLMAP</a>
                            </div>
                            <div class="container">
                                <a class="shutter-out-vertical">HashCat</a>
                            </div>
                    </div>
                    
                    <div class="CyberTechniques">
                        <h3>Hacking techniques: </h3>
                        <div class="container">
                            <a class="shutter-out-vertical">XSS</a>
                        </div>
                        <div class="container">
                            <a class="shutter-out-vertical">SQLI</a>    
                        </div>

                        <div class="container">
                            <a class="shutter-out-vertical">Session Hijacking</a>
                        </div>
                        <div class="container">
                            <a class="shutter-out-vertical">Dictionary Attack</a>
                        </div>
                        <div class="container">
                            <a class="shutter-out-vertical">Phishing Attack</a>
                        </div>
                       
                    </div>

                    <div class="ProgrammingLanguages">
                        <h3>Programming Languages: </h3>
                        <div class="container">
                            <a class="shutter-out-vertical">Java</a>
                        </div>
                        <div class="container">
                            <a class="shutter-out-vertical">Javascript</a>
                        </div>
                    </div>
            
                </div>
     

    </body>
</html>