<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/assets/exper.css" type="text/css" rel="stylesheet"  >
    <!-- Some Nice Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@500;700&family=Lobster&display=swap" rel="stylesheet">
    <title>Experiement2</title>
</head>
<body>

    <main>
        <!-- We are on experiement 2 <br> -->
        <!-- why is it not black -->
        <section class="Landing">
            <nav>
                <h1 id="logo">Programming Projects</h1>
                <ul class="nav-links">
                    <li>Projects</li>
                    <li>About</li>
                </ul>
            </nav>

            <!-- <%- include('headers'); -%> -->

        </section>
    </main>

    <div class="intro">
        <div class="intro-text">
            <h1 class="hide">
                <span class="text">Empowering business</span>
            </h1>
            <h1 class="hide">
                <span class="text">With</span>
            </h1>
            <h1 class="hide">
                <span class="text">Great Software</span>
            </h1>
        </div>
    </div>

    
    <div class="slider"></div>
    <!-- Provides the animation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" 
        integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" 
        crossorigin="anonymous"></script>

    <script defer type="text/javascript" src="/javascripts/file1.js"></script>
    

     
    
</body>
</html>