<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="/assets/exper.css" type="text/css" rel="stylesheet"/> 
    <title>In the works</title>
</head>
<body>
    We are in the works of experimenting
    <br>
    <br>
    <br>

    <!-- <div class="container py-5 text-center">
        <a href="#" class="link buzz-out-on-hover">Buzz Out</a>
    </div> -->
    
	
    <div class="container">
        <!-- <div class="container2"> -->
            <a href="#" class="shutter-out-vertical">Shutter Out Vertical</a>
        <!-- </div> -->
        
    </div>

    <div class="box"></div>
    

</body>

</html>
