<!-- We are putting our head and header files -->
<!-- everything before the body -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Some imported CSS for our logo -->
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@500;700&family=Lobster&display=swap" rel="stylesheet">

    <!-- Some CSS -->
    <link href="/assets/styles2.css" type="text/css" rel="stylesheet"/> 
    <link href="/assets/animations.css" type="text/css" rel="stylesheet"/> 
    <!-- <link href="/assets/exper.css" type="text/css" rel="stylesheet" > -->
    
    <!-- Some Javascripts animations -->
    <script defer type="text/javascript" src="/javascripts/file1.js"></script>

</head>

<header>  
    <div class="navbar" >
        
        <div class="logo">
            Jason Calle
        </div>

        <div class="leftIcons">
            <a href="https://github.com/jcalle0000"> <i class="fa fa-github" style="font-size:36px"></i> </a>
            <a href="https://www.linkedin.com/in/jason-calle/"> <i class="fa fa-linkedin-square" style="font-size:36px"></i> </a>
           
        </div>


        <div class="navnav">
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/">Projects</a></li>
                <!-- <li><a href="/about/exp">Home</a></li> -->
            </ul>
        </div>

        
            
    <!-- End of navbar     -->
    </div>

</header>

