<!DOCTYPE html>
<html lang="en" dir="ltr">
  
  <%- include('headers'); -%>
  <title>Jason Calle's Projects</title>
      
  <body>
    
    <main>
      <div class="rowImages">
            <div class="colImages1">
              <img class="mySlides" src="images/4.png"/>
            </div>
            <div class="colImages2">
              <img class="mySlides" src="images/2.png"/>
            </div>
            <div class="colImages3">
              <img class="mySlides" src="images/3.png"/>
            </div>
            <!-- <div class="colImages4">
              <img class="mySlides" src="advMechatronicsGrp.jpg"/>
            </div> -->
            <div class="colImages5">
              <img class="mySlides" src="images/1.png"/>
            </div> 
      </div>
        
  
        <!-- <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button> -->
  
        <!-- script were actually using -->
        <script>
          var myIndex = 0;
          carousel();
          
          function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";  
            }
            myIndex++;
            if (myIndex > x.length) {myIndex = 1}    
            x[myIndex-1].style.display = "block";  
            setTimeout(carousel, 2000);    
          }
          </script> 


        <!-- <script>
          var slideIndex = 1;
          showDivs(slideIndex);
          
          function plusDivs(n) {
            showDivs(slideIndex += n);
          }
          
          function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) {slideIndex = 1}
            if (n < 1) {slideIndex = x.length}
            for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";  
            }
            x[slideIndex-1].style.display = "block";  
          }
          </script> -->
     
      <div class="experience">
        <!-- <a href="https://github.com/Jcalle0000/inventoryOOP">  -->
          
          <div class="inventoryOOP">
            <a href="https://github.com/Jcalle0000/MedicalDataSQL"> 
              <h3>Patient Diseases SQL Project</h3> 
              <i> 
                  <p>Normalized data to create relations between customer_id, home addresses, and health diseases</p>
                  <p>Used stored procedures and dynamic queries to learn about common diseases within different constraints  </p>
              </i>
              <p> <b>Relevant Tech: </b>Docker, SQL</p>
              https://github.com/Jcalle0000/MedicalDataSQL
            </a>
          </div>
        
          <a href="https://github.com/Jcalle0000/Teacher_Database">
            <div class="SQLproject">
              <h3>Teacher Database SQL Project</h3>
              <i> 
                <p>Created 1:1, 1:N and M:N relations between teachers, 
                    classes, students.
                </p>
                <p>Created a trigger function to notify the student's 
                  guardian/guardians about their misconduct after 
                  a certain count using temporary tables.
                </p>

                <p> Created fake data to demonstrate proper functionality  </p>
                <p>UI for this project is in the works </p>
              </i>
              
              <b><p>Relevant Tech: </b>SQL</p>
              https://github.com/Jcalle0000/MedicalDataSQL
              <!-- bg-secondary div -->
          </div>
        </a>
            <div class="SHPE">
              <a href="https://laesa-backend.herokuapp.com/api/pdfs">
                  <h3>Backend LAESA-SHPE </h3>
                  <i> 
                    <p>Sucesfully learned to save images and PDF's to mongodb </p>
                    
                    <p>Used adobe's embed api render pdfs in safari and chrome</p>
                    <p>Implement CRUD features for events</p>
                    <p>Implemented session storage for user authentication</p>
                    
                  </i>
                  <b><p>Relevant Tech</b>: Node.js, MongoDB, Javascript, EJS, adobe API</p>
                   https://laesa-backend.herokuapp.com/api/pdfs
              </a>
            </div>

            <div class="wordPress">
                <h3>CodePath Cybersecurity Course</h3>
                <i> <p>Learned about SQLI weakness</p> </i>
                <i> <p>Learning about different hashing techniques</p> </i>
                <i> <p>Learned about the use of honeypots</p> </i>
                <b><p>Relevant Tech</b>: SQL Injection, PHP</p>
            </div>

            <a href="https://docs.google.com/presentation/d/1uYA-YnMYdxkddQ8eYDtGmey4AE0db4oMQ5Rj8-1IzOM/edit#slide=id.p">
              <div class="SeniorDesign3">
                  <h3>Senior Design</h3>
                  <i> <p>Autonmous Robotic Make up Applier</p> </i>
                  <i> <p>Worked on force sensor tests</p> </i>
                  <i> <p>Modified CAD files to prototype different designs</p> </i>
                  <i> <p>Helped design tests procedures to measure accuracy</p> </i>
                  <b><p>Hardware</b>: IntelSense Camera, Uarm Robotic Arm, Arduino, 3D Printing</p>
                  <p>Relevant Tech: Python</p>
                  https://docs.google.com/presentation/d/1uYA-YnMYdxkddQ8eYDtGmey4AE0db4oMQ5Rj8-1IzOM/edit#slide=id.p
                </a>
            </div>
          </a>

          <div class="AdvancedMechatronics">
            <a href="https://docs.google.com/document/d/1S2TBHrU_HBnKXF0MpdB1D9LvZlN7T9Ie9fRBQnM6mPs/edit">
                <h3>Advanced Mechantronics</h3>
                <i>
                  <p>Conducted research on electrical simulation for treatment of small muscle groups</p>
                  <p>Learned about:</p> 
                    <p>Transcutaneous electrical nerve stimulaton (TENS)</p>
                    <p>Interferential stimulaton (IF)</p>
                    <p>Russian Stimualtion</p>
                </i>
                <b><p>Hardware</b>: 3D-Printing, Arduino</p>
                <b><p>Relevant Tech</b>: C++</p>
                https://docs.google.com/document/
            </a>
          </div>

          <!-- experience container div -->
      </div>

        <div class="end">
          <!-- intro already exist but helps us format -->
          <!-- <p>I'm currently doing my best to grow my software skills.
            Contact me if you would like to colloborate on a project
            together as I'm always trying to grow my skill set
            and experience. You can find some of my work on my Github Account.
          </p> -->
        </div>
    </main>
    <footer>
      <div class="footer">
        Site built and maintained by Jason Calle in © 2020 <br>
        Last revision made 02/26/2021
        <address>
            <a class="Link" href="mailto:Jcalle0000@gmail.com">
              Jcalle0000@gmail.com </a>
          </address>
      </div>
    </footer>


     <!-- Provides the animation -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" 
     integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" 
     crossorigin="anonymous"></script>

    <div class="intro">
      <div class="intro-text">
          <h1 class="hide">
              <span class="text">Empowering Businesses</span>
          </h1>
          <h1 class="hide">
              <span class="text">With</span>
          </h1>
          <h1 class="hide">
              <span class="text">Great Software</span>
          </h1>
      </div>
    </div>
    <div class="slider"></div>


  </body>
</html>

<!-- https://github.com/VincentGarreau/particles.js/ -->